<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/">
<head>
<meta charset="UTF-8" />
<title>Szczegóły naprawy</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link th:href="@{/css/bootstrap.min.css}" type="text/css"
	rel="stylesheet" />

<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

	<header>
		<div class="row">
			<div class="center col-md-6 text-center"
				style="font-size: 40px; margin-top: 60px;">System serwisu
				komputerowego</div>
			<div>

				<img th:src="@{/img/mother-board.jpg}" class="col-md-6 img-circle"
					style="width: 250px; height: 200px;" />
			</div>
		</div>

		<nav class="navbar navbar-default">
			<div class="container-fluid" style="margin-left: 110px;">
				<ul class="nav navbar-nav">
					<li><a href="/serwis/add">Dodaj naprawe</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Lista napraw<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/serwis/allRepairs">Wszystkie naprawy</a></li>
							<li><a href="/serwis/filterByStatus/oczekujaca">Oczekujące
									naprawy</a></li>
							<li><a href="/serwis/filterByStatus/w trakcie">Bieżące
									naprawy</a></li>
							<li><a href="/serwis/filterByStatus/zakonczona">Zakonczone
									naprawy</a></li>
							<li><a href="/serwis/filterByStatus/nieodbyta">Nieodbyte
									naprawy</a></li>
						</ul></li>
					<li><a href="/serwis/notes">Notatki</a></li>
				</ul>
			</div>
		</nav>



	</header>

	<div id="container" class="container-fluid">
		<div id="info" th:object="${tr}">
			<dl class="dl-horizontal">
				<dt>id naprawy</dt>
				<dd th:text="*{id}"></dd>

				<dt>imie klienta</dt>
				<dd th:text="*{clientName}"></dd>

				<dt>nazwisko klienta</dt>
				<dd th:text="*{clientLastName}"></dd>

				<dt>model</dt>
				<dd th:text="*{model}"></dd>


				<dt>numer seryjny</dt>
				<dd th:text="*{serialNumber}"></dd>

				<dt>telefon</dt>
				<dd th:text="*{phoneNumber}"></dd>

				<dt>E-mail</dt>
				<dd th:text="*{clientmail}"></dd>



				<dt>Data rozpoczecia</dt>
				<dd th:if="${tr.startDate != null}"
					th:text="${#dates.format(tr.startDate, 'dd-MMM-yyyy')}"></dd>
				<dd th:if="${tr.startDate == null}">-</dd>

				<dt>Data zakonczenia</dt>
				<dd th:if="${tr.endDate != null}"
					th:text="${#dates.format(tr.endDate, 'dd-MMM-yyyy')}"></dd>
				<dd th:if="${tr.endDate == null}">-</dd>

				<dt>sposob dostarczenia</dt>
				<dd th:text="*{deliveryMethod}">-</dd>

				<dt>status</dt>
				<dd th:text="*{status}">-</dd>

				<dt>koszt</dt>
				<dd th:text="*{price}"></dd>

				<dt>uwagi</dt>
				<dd th:text="*{comments}">-</dd>
			</dl>


		</div>

		<div class="row" style="padding-bottom: 30px">
			<div class="col-xs-6 col-sm-3">
				<a th:href="@{/serwis/editRepair/{id}(id=${tr.id})}">Edytuj</a>
			</div>
			<div class="col-xs-6 col-sm-3">
				<form onsubmit="return confirm('Jestes pewny?');" method="post" action="/serwis/deleteOne">
					<input 
				 type="hidden" th:value="${tr.id}" name="id" id="id"
				 
/> <input
						type="submit" value="usun" style=
"
background-color: transparent;
border: none;
cursor: pointer;
cursor: hand;" />
				</form>
			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="#">Wydrukuj potwierdzenie</a>
			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="#">Wydrukuj fakture</a>
			</div>


		</div>

		<div class="row">
			<!-- 
		<div id="opcje" class="col-md-3 col-md-offset-3">
		<a th:href="@{/serwis/editRepair/{id}(id=${tr.id})}">Edytuj</a>
		</div>
		 -->
		</div>


	</div>

</body>
</html>